RewriteEngine On
RewriteBase /hopeoluwalolope.com/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /hopeoluwalolope.com/index.php [L]